@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background: url('../public/images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  transition: 300ms ease-in-out background;
}

.swal2-title, .swal2-html-container {
  color: white !important;
}

td, th {
  padding: 10px;
}

@media(min-width: 928px) {
  td {
    padding: 2px;
  }
}

input {
  -webkit-appearance: none;
}


::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: rgb(17,24,39);
}
::-webkit-scrollbar-track {
  background: #666;
}
::-webkit-scrollbar {
  width: 5px;
}


.fadeEffect {
  animation: 300ms fadeIn
}

@keyframes fadeIn {
  from {
    transform: scale(0.8)
  }
  to {
    transform: scale(1)
  }
}